.head {float:left;
    height: 15%;
    width: 100;
    background-color: red;}

.center 
{float:left;
height: 75%;
width: 100%;
background-color:rgb(rgb(30, 54, 192)
}

.footer
{float:left;
    height: 10%;
    width: 100%;
    background-color:rgb(rgb(30, 54, 192)
}