.body
{float:left;
    height: 98vh;
    width: 98vw;
    float: left;
}


.head {float:left;
    height: 15%;
    width: 100;
    background-color: red;}

.center 
{float:left;
height: 75%;
width: 100%;
background-color:rgb(rgb(30, 54, 192))
}

.footer
{float:left;
    height: 10%;
    width: 100%;
    background-color:rgb(rgb(30, 54, 192))
}

.menu
{float:left;
    height: 10%;
    width: 20%;
    background-color:gray;
}