*{
    box-sizing: border-box;
}
html{
    width: 100%;
}
body{
    width: 100%;
    background: cornsilk;
}
.container{
    width: 100%;
    max-width: unset;
    padding: 0;
}
.head{
    width: 100%;
    margin: 0;
}
.navbar{
    background-color: rgb(215, 222, 255)!important;
}
.mylightbox{
    text-align: center;
    padding: 50px 0;
}
.footer
{
    display: flex; align-items: center; justify-content: center;
    text-align: center;
    border: solid;
    background-color: rgb(215, 222, 255);
    bottom: 0px;
    width: 100;
}
.content{
    padding: 20px;
}
.erklärung{
    padding: 10px;
}
.picangj{
    padding: 10px;
}
.formular label{
    display: block;
padding: 20px 0;
}
.startseite{
    padding: 10px;
}
.beschreibung{
    padding: 10px;
    text-align: left;
    margin: auto;
}